# fly.toml app configuration file generated for mash-old-snow-5107 on 2026-02-19T00:11:09-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mash-old-snow-5107'
primary_region = 'ord'

[build]

[env]
  DATABASE_PATH = '/data/mash.db'

[[mounts]]
  source = 'mash_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
